body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


.login-container{
    background:white;
    width:350px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}


h2{
    text-align:center;
}


label{
    display:block;
    margin-top:15px;
}


input{
    width:100%;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;
}


button{
    width:100%;
    margin-top:20px;
    padding:10px;
    background:#333;
    color:white;
    border:none;
    cursor:pointer;
}


button:hover{
    background:#555;
}


#message{
    text-align:center;
    margin-top:15px;
}